* {
  box-sizing: border-box;
}

body {}

html {
  cursor: url(man.ico), auto;

}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

canvas {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.title {
  position: fixed;
  height: 15vh;
  width: 100vw;
  top: 30.5%;
  left: 49.5%;
  font-family: 'Dream';
  letter-spacing: 55px;
  color:rgba(209, 64, 217, 0.7);
  text-shadow: 0 0 30px rgba(255, 40, 223, 0.56);
  font-size: 620%!important;
  z-index: 1;
}
.title2 {
  position: fixed;
  height: 15vh;
  width: 100vw;
  top: 31%;
  left: 52%;
  font-family: 'Dream';
  letter-spacing: 58px;
  color: rgb(139, 137, 137);
  font-size: 430%!important;
  text-shadow: 0 0 10px rgb(201, 201, 201);
  z-index: 3;
}
.title4 {
  position: fixed;
  height: 15vh;
  width: 100vw;
  top: 86.5%;
  left: -52%;
  font-family: 'Dream';
  letter-spacing: 55px;
  color:rgba(209, 64, 217, 0.7);
  text-shadow: 0 0 30px rgba(255, 40, 223, 0.56);
  transform: rotateY(180deg);
  font-size: 200%!important;
  z-index: 1;
}
.title5 {
  position: fixed;
  height: 15vh;
  width: 100vw;
  top: 87%;
  left: -52%;
  font-family: 'Dream';
  letter-spacing: 58px;
  color: rgb(139, 137, 137);
  font-size:  150%!important;
  text-shadow: 0 0 10px rgb(201, 201, 201);
    transform: rotateY(180deg);
  z-index: 3;
}
.title6 {
  position: fixed;
  height: 15vh;
  width: 100vw;
  top: 2%;
  left: -40%;
  font-family: 'Dream';
  letter-spacing: 55px;
  color:rgba(209, 64, 217, 0.7);
  text-shadow: 0 0 30px rgba(255, 40, 223, 0.56);
  transform: rotateY(180deg);
  font-size:  100%!important;
  z-index: 6;

}
.title7 {
  position: fixed;
  height: 15vh;
  width: 100vw;
  top: 2%;
  left: -40%;
  font-family: 'Dream';
  letter-spacing: 58px;
  color: rgb(139, 137, 137);
  font-size: 70%!important;
  text-shadow: 0 0 10px rgb(201, 201, 201);
    transform: rotateY(180deg);
  z-index: 3;
}

.fuzzy {
  position: fixed;
  height: 15vh;
  width: 9vw;
  border-radius: 50%;
  top: 40%;
  left: 46%;
  background: url(background3.jpg);
  background-size: cover;
  z-index: 2;
}

.main-container {
  position: fixed;
  margin: auto;
  justify-content: center;
  display: grid;
  height: 120%;
  top: 25vh;
  left: 5vw;
  column-gap: 57vw;
  row-gap: 300px;
  grid-template-columns: 100px auto;
}

.item {
  position: relative;
  width: 25.5vw;
  height: 43vh;
  /* border-radius: 0%; */
  /* background:url(window2.png); */
  background-size: contain;
  /* border: 6px solid; */
  border-color: rgba(0, 0, 0, 1);
  z-index: 3;
  transitaion: all .4s ease-in-out;
}

.item:hover {
  /* border:0; */
  /* background:url(); */
  /* width:250px; */
  /* height:230px; */
  /* opacity: 0; */
}

.item:hover .info {
  /* opacity: 1; */
  /* transform: scale(1); */
}

/* .item:hover .info h3{
  opacity: 1;
    transform:scale(1);
}
.item:hover .info p{
  opacity: 1;
    transform:scale(1);
} */
.info {
  /* opacity:0; */
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: url(window.png); */
  background-size: contain;
  border-radius: 0%;
  font-family: 'Poiret One', cursive;
  text-align: center;
  transition: all .4s ease-in-out;
}

.info h3 {
  opacity: 0;
  transform: scale(0);
  height: 320px;
  width: 320px;
  font-size: 200%!important;
  color: rgb(255, 255, 255);
  font-family: 'Poiret One', cursive;
  margin: 0 4px;
  padding-top: 30%;
  transition: all 1s ease-in-out;
}

.info p {
  opacity: 0;
  transform: scale(0);
  height: 50px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: 'Poiret One', cursive;
  margin: 0 5px;
  padding-top: 5%;
  transition: all 2s ease-in-out;
}

.item2 {
  position: relative;
  width: 25.5vw;
  height: 43vh;
  border-radius: 0%;
  background: url(skin2.png);
  background-size: contain;
  /* border: 6px solid; */
  border-color: rgba(0, 0, 0, 1);
  z-index: 3;
  transitaion: all .4s ease-in-out;
}

.item2:hover {
  border: 0;
  background: url();
}

.item2:hover .info2 {
  opacity: 1;
  transform: scale(1);
}

.item2:hover .info2 h3 {
  opacity: 1;
  transform: scale(1);
}

.item2:hover .info2 p {
  opacity: 1;
  transform: scale(1);
}

.info2 {
  /* opacity: 0; */
  transform: ;
  position: fixed;
  width: 100%;
  height: 100%;
  /* background: url(skin.png); */
  background-size: contain;
  ;
  border-radius: 0%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  transition: all .4s ease-in-out;
}

.info2 h3 {
  opacity: 0;
  transform: scale(0);
  height: 320px;
  width: 320px;
  font-size: 200%!important;
  color: rgb(255, 255, 255);
  margin: 0 4px;
  padding-top: 40%;
  transition: all 1s ease-in-out;
}

.info2 p {
  opacity: 0;
  transform: scale(0);
  height: 50px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: 'Poiret One', cursive;
  margin: 0 5px;
  padding-top: 10%;
  transition: all 2s ease-in-out;
}



p {
  color: rgb(0, 0, 0);
  font-family: 'Syne Mono', monospace;
  text-decoration: none;
  font-size: 20px;
}

@keyframes move-clouds-back {
  0% {
    transform: translateX(-1800px);
  }

  100% {
    transform: translateX(1000px);
  }
}

@keyframes move-clouds-back2 {
  0% {
    transform: translateX(-3200px);
  }

  100% {
    transform: translateX(1000px);
  }
}

.cloud {
  position: fixed;
  top: 55%;
  z-index: 11;
  animation: move-clouds-back 32s linear infinite;
}

.cloud2 {
  position: fixed;
  top: 55%;
  z-index: 11;
  animation: move-clouds-back2 45s linear infinite;
}

.back {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 5%;
  left: 90%;
  transition: all 0.6s;
}

.back:hover {
  transform: scale(1.5);
  cursor: url(man.ico), auto;
}

.pic1 {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 5%;
  left: 90%;
}

/*  */
/* .one:hover {
  background-image: url(skin.png);
  width: 100px;
} */
.one {
  width: 25.5vw;
  height: 43vh;
  background-size: 100% 100% !important;

}

.tu{
  width: 25.5vw;
  height: 43vh;
  position: relative;
  background-size: 100% 100% !important;


}

.wen{
  position: absolute;
  top: 130px;
  left: 40px;
}
.wen a{
  color: white;
}
h2{
  color: white;
  font-family: 'Poiret One', cursive;
}
h1{
  color: white;
  font-family: 'Raleway', sans-serif;
}
