element.style {
}
*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
link {
    display: none;
}
@media (min-width: 601px)
:root {
    --grid-gap-large: 4em;
    --grid-gap-small: 1em;
    --grid-gap: 2em;
}
@media (min-width: 601px)
:root {
    --page-margin: 2rem;
    --section-padding: 4rem;
}
:root {
    --page-background: #fef8dd;
    --html-text-color: #3c3833;
    --html-reverse-color: #fef8dd;
    --focus-background-color: yellow;
    --focus-outline-color: black;
    --divider-color: #e5734c;
    --logo-color: #bbb09f;
    --homeapge-title-color: #e5734c;
    --homeapge-image-overlay: #fef8dd;
    --page-title-color: #e5734c;
    --page-title-opacity: 0.125;
    --blockquote-border-color: rgba(0,0,0,.8);
    --button-border-color: rgba(0,0,0,.8);
    --heading-block-background-color: #e5734c;
    --heading-block-color: #fef8dd;
    --footer-background-color: #e5734c;
    --footer-color: #fef8dd;
    --button-background-color: #fef8dd;
    --button-color: black;
    --form-border-color: rgba(0,0,0,.8);
    --form-focus-border-color: rgba(0,0,0,.8);
    --form-focus-border-style: dashed;
    --form-border-width: 1px;
    --swiper-theme-color: #e5734c;
    --link-color: #e5734c;
    --link-text-decoration-color: #bbb09f;
    --link-hover-color: rgba(0, 0, 0);
    --link-hover-text-decoration-color: rgba(0, 0, 0, .2);
    --link-visited-color: rgba(0, 0, 0);
    --link-visited-text-decoration-color: rgba(0, 0, 0, .2);
    --code-background-color: pink;
    --page-margin: 1rem;
    --section-padding: 2rem;
    --grid-gap-large: 2em;
    --grid-gap-small: 0.5em;
    --grid-gap: 1rem;
    --bodyText: freight-text-pro, serif;
    --headingText: mokoko, Rockwell, "Hoefler Text", serif;
    --subheadingText: titling-gothic-fb, sans-serif;
    --h1-line-height: 1.125;
    --bodyText-line-height: 1.333333;
    --button-border-size: 1px;
}
html {
    text-rendering: optimizeLegibility;
}
@media (max-width: 1200px) and (min-width: 600px)
html {
    font-size: calc( 16px + 5 * ( ( 100vw - 600px) / 600 ) );
}
html {
    font-size: 16px;
    font-family: var(--bodyText);
    line-height: var(--bodyText-line-height);
    color: var(--html-text-color);
}
html {
    word-break: normal;
}
html {
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html {
    cursor: default;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
}
::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, ::before, ::after {
    box-sizing: border-box;
}
::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, ::before, ::after {
    box-sizing: border-box;
}
