*{
  box-sizing: border-box;
}

	body{
    background-color:rgba(0, 0, 0, 1);
	}
  canvas{
  position:fixed;
  z-index: -10;
  top:0;
  left:0;
  }

  .top-container{
      display:flex;
      flex-direction: row;
      justify-content:center;
      background-color:;
      height:40%;
      width:100%;
      padding:0px 10px 0 200px;
      color:white;
      font-size: 30px;
    font-family: monoton;
    z-index: 99;
position: relative;
  }
  .row-item {
  width:60%;
  height:100%;
  color:rgb(255, 255, 255);
}
.row-item:hover{
  text-shadow: 0 0 15px rgb(255, 255, 255);
}
.screen{
  position:fixed;
  margin:0;
  padding:0;
  z-index: 1;
width:800px;
height:100px;
top: 18.9%;
left: 32%;
}
.img{
    position:fixed;
    margin:0;
    padding:0;
  width:740px;
  height:206px;
  top: 24.3%;
  left: 41.5%;
  background:url(N-background.jpg);
  animation:animate .5s linear infinite;
  z-index: 2;
}
@keyframes animate
{
  0%
  {
  background-position:40% 40%;
  }
  100%
  {
  background-position: 80% 80%;
  }
}
.name{
  position:fixed;
  width:740px;
  height:205px;
  top: 24.5%;
  left: 41.5%;
  font-size: 130px;
  font-family: Stencil Std;
  color:rgba(204, 204, 204);
  display: flex;
  justify-content:center;
  align-items:center;
  z-index: 3;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}
.ground{
  position:fixed;
  width:1000px;
  height:800px;
  border-radius: 50%;
  top:80%;
  left:10%;
  background:url(ground-dark.jpg);
  background-size: contain;
  z-index: 2;
}
.smoke{
  position:fixed;
  z-index: 4;
  top:0;
  left:0;
}
.spaceman{
  position:fixed;
  top:20%;
    z-index: -4;
    animation: spin 6s infinite;
}

.spaceman2{
  position:fixed;
  top:45%;
  left:42%;
    z-index: -5;
        animation: spin2 6s infinite;
}
@keyframes spin{
  0% {transform:translateY(-20px);}
  50%{
    transform:translateY(50px);}
    100%{
      transform:translateY(-20px);}
}
@keyframes spin2{
  20% {transform:translateY(-20px);}
  60%{
    transform:translateY(60px);}
    90%{
      transform:translateY(-20px);}
}
.spaceman4{
  position:fixed;
  top:50%;
  left:60%;
    z-index: -7;
}
.spaceman5{
  position:fixed;
  top:60%;
  left:80%;
    z-index: -8;
}
a:link{
  color:inherit;
   text-decoration:none;}
