*{
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items:center;
  font:rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: #b960d1;
}
.main-container{
  min-height: 100vh;
  font-size: 5em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.back{
  display: flex;
  justify-content: center;
  align-items:center;
  width:200px;
  height:100px;
  font-size: 3em;
  font-weight: 400;
  background:rgb(255, 255, 255);
  border:2px solid black;
  border-radius: 20%;
}
