html{
  background-color: rgb(32, 41, 46);
}
.a{
  margin: 50px 25px 40px 40px;
    border: none;
    padding:20px;
    justify-content: center;
}
.b{
  color:rgb(255, 255, 255);
  font-weight: bold;
  font-family: Courier New;
  font-size: 22px;
  margin: 25px 25px 40px 40px;
  border: none;
  padding:20px;
}
