img{
  transform: matrix( 1 , 0 , 0 , 1 , 0 , 0 )
}
.pic1{
  width:200px;
  height:300px;
  display:flex;
  position:absolute;
  top:20vh;
  left:74vw;
}
.pic2{
  width:44vh;
  height:10vw;
  display:flex;
  position:absolute;
  top:68vh;
  left:4vw;
}
.pic4{
  width:50vh;
  height:30vw;
  display:flex;
  position:absolute;
  top:110vh;
  left:25vw;
}
.pic3{
  width:70vh;
  height:30vw;
  display:flex;
  position:absolute;
  top:290vh;
  left:23vw;
}
.pic6{
  width:75vh;
  height:100vw;
  display:flex;
  position:absolute;
  top:345vh;
  left:0vw;
}
.pic7{
  width:85vh;
  height:70vw;
  display:flex;
  position:absolute;
  top:670vh;
  left:45vw;
}
.pic9{
  width:50px;
  height:300px;
  display:flex;
  position:absolute;
  top:460vh;
  left:65vw;
}
.pic10{
  width:50px;
  height:300px;
  display:flex;
  position:absolute;
  top:810vh;
  left:3vw;
}
.pic11{
  width:50px;
  height:300px;
  display:flex;
  position:absolute;
  top:1020vh;
  left:14vw;
}
